.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: auto;
    width: 100px;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators>button {
    margin: 5px;
}

.prev {
    position: relative;
    left: -250px;
    transform: translateY(-500%);
    cursor: pointer;
    font-size: large;

}

.next {
    position: relative;
    right: -250px;
    transform: translateY(-500%);
    cursor: pointer;
    font-size: large;
}